In [1]:
import pandas as pd
import PyPDF2
import re

In [2]:
import os
from imbox import Imbox
import traceback

test = False

In [3]:
from os import listdir
from os.path import isfile, join

In [6]:
mypath = 'C:\\Users\\mpegoraro\\Desktop\\Stuff\\1. RSO\\varie\\zke-test\\Cartella ZKE'

In [7]:
onlyfiles = [f for f in listdir(mypath) if isfile(join(mypath, f))]

In [8]:
onlyfiles

['Freno bloccato 192340 20240116 1121_i.pdf',
 'Freno bloccato surriscaldato 192553 20240120 1251_i.pdf',
 'Freno bloccato surriscaldato 192554 20240120 1252_i.pdf']

In [9]:
pdfFileObj = open(mypath+'\\'+onlyfiles[0], 'rb')

In [10]:
# creating a pdf reader object
pdfReader = PyPDF2.PdfReader(pdfFileObj)

In [11]:
# printing number of pages in pdf file
print(len(pdfReader.pages))

2

In [12]:
# creating a page object
#pageObj = pdfReader.getPage(0)
pageObj =pdfReader.pages[0]

In [13]:
#extracting text from page
s = pageObj.extract_text()
print(pageObj.extract_text())

Da:  ERSTFELD IZ ZKE (I-SQU-UEW) <zke.interventionszentrum@sbb.ch>
Inviato:  16.01.2024 11:21
A:  BLS Operations <operations@bls.ch>,
Ogetto:  Freno bloccato   -  40254  /  16.01.2024 / 10:36   /  Numero del dossier:   192340  /  u117706

FFS SA
Infrastruttura - sicurezza, qualità, ambiente
Centro d'intervento ICT
6472 Erstfeld
Freno bloccato   -  40254
16.01.2024 / 10:36   /  Numero del dossier:    192340  /  u117706
Informazioni sull'allarme / informazioni aggiuntive:
L'allarme è classificato H0.
L'irregolarità è stato risolto e il treno prosegue sotto la responsabilità dell'ITF
Stazione d'intervento:  Visp
Treno: 40254    Impianto: GAMS 811
Velocità: 90 - 112 km/h
ITF: BLSC    Corsa dei treni: GAL - ANCO
Detaggli allarme: Freno bloccato
Data16.01.2024 Ora10:36
Assedalla testa 48dalla coda 65
Veicolo
Numero 33 85 4575 790-2 Costruzione Sgnss
Proprietario di veicolo HUPAC Assi 45-48
Peso a vuoto [t] 17.6 Peso del carico [t] 62.5
Peso lordo [t] 80.1
Codice NHM 099020/00 [56.674 t], 994100/00 Grosscontainer, beladen
Percorso UIC 83/Domo II, 85/Basel SBB RB / Basel Bad Bf
Stazione finale 88/Antwerpen D.S. Combinant
Allarmi
AsseAsse del veicolo Allarme Valore d'intervento Valore dell'allarme

In [14]:
df_zke = pd.DataFrame(columns=['Carro', 'Detentore', 'IF', 'Data', 'Relazione ZKE', 'Luogo', 'Vel1', 'Vel2'])
df_zke

Empty DataFrame
Columns: [Carro, Detentore, IF, Data, Relazione ZKE, Luogo, Vel1, Vel2]
Index: []

In [15]:
sub1 = "Veicolo\nNumero "
sub2 = " Costruzione"

carro = ''.join(s.split(sub1)[1].split(sub2)[0])

carro

'33 85 4575 790-2'

In [16]:
sub1 = "Proprietario di veicolo "
sub2 = " Assi"

det = ''.join(s.split(sub1)[1].split(sub2)[0])

det

'HUPAC'

In [17]:
sub1 = "ITF: "
sub2 = "Corsa dei treni:"

IF = ''.join(s.split(sub1)[1].split(sub2)[0]).replace(u'\xa0', u'')

IF

'BLSC '

In [18]:
sub1 = "Data"
sub2 = " Ora"

data = ''.join(s.split(sub1)[1].split(sub2)[0])

data

'16.01.2024'

In [19]:
sub1 = "Corsa dei treni: "
sub2 = "\nDetaggli allarme"

rel = ''.join(s.split(sub1)[1].split(sub2)[0])

rel

'GAL - ANCO'

In [20]:
sub1 = "Impianto: "
sub2 = "\nVelocità:"

luogo = ''.join(s.split(sub1)[1].split(sub2)[0])

luogo

'GAMS 811'

In [21]:
sub1 = "Velocità: "
sub2 = " -"

vel1 = int(''.join(s.split(sub1)[1].split(sub2)[0]))

vel1

90

In [22]:
sub1 = str(vel1) + " - "
sub2 = "km/h"

vel2 = int(''.join(s.split(sub1)[1].split(sub2)[0]).replace(u'\xa0', u''))

vel2

112

In [23]:
df_zke.loc[0, 'Carro'] = carro
df_zke.loc[0, 'Detentore'] =det
df_zke.loc[0, 'IF'] = IF
df_zke.loc[0, 'Data'] = data
df_zke.loc[0, 'Relazione ZKE'] = rel
df_zke.loc[0, 'Luogo'] = luogo
df_zke.loc[0, 'Vel1'] = vel1
df_zke.loc[0, 'Vel2'] = vel2

In [24]:
df_zke

,Carro,Detentore,IF,Data,Relazione ZKE,Luogo,Vel1,Vel2
0,33 85 4575 790-2,HUPAC,BLSC,16.01.2024,GAL - ANCO,GAMS 811,90,112

In [25]:
# creating a page object
#pageObj = pdfReader.getPage(0)
pageObj_1 =pdfReader.pages[1]

In [26]:
#extracting text from page
s = pageObj_1.extract_text()
print(pageObj_1.extract_text())

48 Freno bloccato 90.0  °C 92.0  °C
Valori misurati
AsseHOALHOARFBOA1FBOA2Allarmi
4520  °C16  °C24  °C76  °C
4613  °C13  °C28  °C90  °C
4715  °C12  °C24  °C82  °C
4814  °C18  °C26  °C92  °CFreno bloccato
Costatazioni
Freno bloccato
Perturbazioni ai freni pneumatici
Informazioni sulla risoluzione dei problemi
Attivazione allarme alla stazione di annuncio
Ha avuto luogo il contatto con il macchinista
Il freno pneumatico è stato spurgato a mano
Prova del freno eseguita
Prova del freno con successo
Valori misurati in base all'orientamento del veicolo secondo RFID
nessuna informazione
Per richieste si prega di inviare una e-mail al zke@sbb.ch  o di telefonare al +41 51 225 47 01.

In [27]:
sub1 = "AsseHOALHOARFBOA1FBOA2Allarmi"
sub2 = "\nCostatazioni"

tab = ''.join(s.split(sub1)[1].split(sub2)[0]).replace(u'\xa0', u' ')

tab

'\n4520  °C16  °C24  °C76  °C\n4613  °C13  °C28  °C90  °C\n4715  °C12  °C24  °C82  °C\n4814  °C18  °C26  °C92  °CFreno bloccato'

In [28]:
lst_temp = (tab.split('\n'))
lst_temp.pop(0)
lst_temp

['4520  °C16  °C24  °C76  °C',
 '4613  °C13  °C28  °C90  °C',
 '4715  °C12  °C24  °C82  °C',
 '4814  °C18  °C26  °C92  °CFreno bloccato']

In [29]:
rows = len(lst_temp)
rows

4

In [30]:
for i in range(8):
    df_zke['T'+str(i)] = 0
    
df_zke

,Carro,Detentore,IF,Data,Relazione ZKE,Luogo,Vel1,Vel2,T0,T1,T2,T3,T4,T5,T6,T7
0,33 85 4575 790-2,HUPAC,BLSC,16.01.2024,GAL - ANCO,GAMS 811,90,112,0,0,0,0,0,0,0,0

In [31]:
for i in range(rows):
    col_name = 'T'+str(i)
    df_zke.loc[0, col_name] = int(lst_temp[i].split("°C", 3)[-1].split("°C")[0])

In [32]:
df_zke

,Carro,Detentore,IF,Data,Relazione ZKE,Luogo,Vel1,Vel2,T0,T1,T2,T3,T4,T5,T6,T7
0,33 85 4575 790-2,HUPAC,BLSC,16.01.2024,GAL - ANCO,GAMS 811,90,112,76,90,82,92,0,0,0,0

In [33]:
df_zke['Azione IF'] = ''

if 'Freno disinserito' in (pageObj_1.extract_text()):
    df_zke['Azione IF'] = 'freno disinserito'
else:
    df_zke['Azione IF'] = 'rimasto in compo'
    
df_zke

,Carro,Detentore,IF,Data,Relazione ZKE,Luogo,Vel1,Vel2,T0,T1,T2,T3,T4,T5,T6,T7,Azione IF
0,33 85 4575 790-2,HUPAC,BLSC,16.01.2024,GAL - ANCO,GAMS 811,90,112,76,90,82,92,0,0,0,0,rimasto in compo

In [34]:
list(df_zke.columns)

['Carro',
 'Detentore',
 'IF',
 'Data',
 'Relazione ZKE',
 'Luogo',
 'Vel1',
 'Vel2',
 'T0',
 'T1',
 'T2',
 'T3',
 'T4',
 'T5',
 'T6',
 'T7',
 'Azione IF']

In [35]:
df_zke['Da scartare (formula)'] = 0

In [36]:
lst_temp = ['T0','T1','T2','T3','T4','T5','T6','T7',]

In [37]:
df_zke

,Carro,Detentore,IF,Data,Relazione ZKE,Luogo,Vel1,Vel2,T0,T1,T2,T3,T4,T5,T6,T7,Azione IF,Da scartare (formula)
0,33 85 4575 790-2,HUPAC,BLSC,16.01.2024,GAL - ANCO,GAMS 811,90,112,76,90,82,92,0,0,0,0,rimasto in compo,0

In [38]:
for i in df_zke.index:
    for c in lst_temp:
        if df_zke.loc[i,c]>250 or df_zke.loc[i,'Azione IF'] == 'freno disinserito':
            df_zke.loc[i, 'Da scartare (formula)'] = 'Da scartare'

In [39]:
df_zke

,Carro,Detentore,IF,Data,Relazione ZKE,Luogo,Vel1,Vel2,T0,T1,T2,T3,T4,T5,T6,T7,Azione IF,Da scartare (formula)
0,33 85 4575 790-2,HUPAC,BLSC,16.01.2024,GAL - ANCO,GAMS 811,90,112,76,90,82,92,0,0,0,0,rimasto in compo,0

In [50]:
#add the following columns to the dataframe df_zke, leave them empty: Auftrag, Carro-Data, Ripetitività, Da scartare (formula), Anno, Mese, Da scartare, Treno, DC

df_zke['Auftrag'] = ''
df_zke['Carro-Data'] = ''
df_zke['Ripetitività'] = ''
df_zke['Anno'] = ''
df_zke['Mese'] = ''
df_zke['Da scartare'] = ''
df_zke['Treno'] = ''
df_zke['DC'] = ''

In [51]:
df_zke

,Carro,Detentore,IF,Data,Relazione ZKE,Luogo,Vel1,Vel2,T0,T1,...,Azione IF,Da scartare (formula),Auftrag,Carro-Data,Ripetitività,Anno,Mese,Da scartare,Treno,DC
0,33 85 4575 790-2,HUPAC,BLSC,16.01.2024,GAL - ANCO,GAMS 811,90,112,76,90,...,rimasto in compo,0,,,,,,,,

In [53]:
# in df_zke, column Anno, take the year from the column Data

df_zke['Anno'] = df_zke['Data'].apply(lambda x: x.split('.')[-1])

In [54]:
df_zke

,Carro,Detentore,IF,Data,Relazione ZKE,Luogo,Vel1,Vel2,T0,T1,...,Azione IF,Da scartare (formula),Auftrag,Carro-Data,Ripetitività,Anno,Mese,Da scartare,Treno,DC
0,33 85 4575 790-2,HUPAC,BLSC,16.01.2024,GAL - ANCO,GAMS 811,90,112,76,90,...,rimasto in compo,0,,,,2024,,,,

In [55]:
# in df_zke, column Mese, take the month from the column Data

df_zke['Mese'] = df_zke['Data'].apply(lambda x: x.split('.')[1])
df_zke

,Carro,Detentore,IF,Data,Relazione ZKE,Luogo,Vel1,Vel2,T0,T1,...,Azione IF,Da scartare (formula),Auftrag,Carro-Data,Ripetitività,Anno,Mese,Da scartare,Treno,DC
0,33 85 4575 790-2,HUPAC,BLSC,16.01.2024,GAL - ANCO,GAMS 811,90,112,76,90,...,rimasto in compo,0,,,,2024,01,,,